<div class="container">
     <div class="col-sm-4 col-md-4 col-lg-4 mb-4">  
        <app-update-specialite 
        [specialite]="updatedSep"
        [ajout]="ajout"
        (specialiteUpdated)= "specialite($event)"
        >
    </app-update-specialite>
    </div> 
    <div class="card shadow mb-4"> 
        <div class="card-body"> 
            <table class="table table-striped"> 
                <thead> 
                    <tr> <th>Id</th><th>Nom Specialite</th> </tr> 
                </thead> 
            @for(sep of specialites; track sep.idSep) 
               { 
                <tbody > 
                    <tr> 
                        <td>{{sep.idSep}}</td> 
                        <td>{{sep.nomSep}}</td>
                        <td><a class="btn btn-success"  (click)="updateSep(sep)">Editer</a></td>  
                     </tr> 
                </tbody> 
               } 
            </table> 
        </div> 
    </div> 
</div> 
